build/
dist/

*.py[co]
*.egg-info
.pytest_cache
*version.py

.helmignore

.coverage
*.env
*venv*
htmlcov
secrets*

.idea/

.vscode
.env
__pycache__/
logs/
*.log
*.log.*
bandit_report.json
bandit_report.html
bandit_results.json
coverage.xml
*bandit_results.json
.coverage.*

